.table-content{
    position: absolute;
    border: 2px solid black;
    height: 250px;
    left: 15%;
    margin-top: 50px;
    /* width: 500px; */
}
.table-heading{
    position: relative;
    border-bottom: 2px solid black;
}
.table-name{
    border-right: 2px solid black;
}
.table-age{
    border-right: 2px solid black;
}
.table-body{
    position:relative;
    border-top: 2px solid black;
}
.table-data{
    position:relative;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.table-data-1{
    position:relative;
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.table-data-2{
    position:relative;
    border-top: 2px solid black;
  
}